
<html>
<head>
	<link href='https://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</head>
<body onuload="kill()" style="background-color: #C0C0C0;">

<div class="row" style="margin-top:10vh;">
	<img src="http://www.kanyerest.xyz/static/images/kd.jpg" class="center-block" style="max-height: 60vh; box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.28);">
	<br>
	<br>
	<br>
	<p class="center-block" style="text-align: center; font-family: 'Gloria Hallelujah', cursive; font-size: 48px; "> Coming soon...</p>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>



</body>
</html>